<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>property_Upkeep.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
				<key>dateExpires</key>
				<string>11/28/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CoreModules.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DoubleConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBReactNativeSpec.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorageInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTAnimation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTBlob.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTLinking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTNetwork.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTSettings.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTText.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTTypeSafety.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTVibration.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RNCAsyncStorage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RNCMaskedView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RNFBApp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RNFBStorage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RNGestureHandler.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RNScreens.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RNVectorIcons.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>cxxreact.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fmt.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>folly.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>jsi.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>jsinspector.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>jsireact.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>logger.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_background_upload.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_progress_view.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_safe_area_context.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_webview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>reactperflogger.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0F704D7D900143A4FEBDD152000E058DBE80CD</string>
						<key>dateExpires</key>
						<string>11/28/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GBVAH53736</string>
						<key>name</key>
						<string>Property Upkeep Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GBVAH53736.com.app.at.hand</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>GBVAH53736</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>property_Upkeep.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>82ed4000-0ac7-492b-b4dc-7d033a56da61</string>
				<key>dateExpires</key>
				<string>11/28/23</string>
				<key>name</key>
				<string>com.app.at.hand AppStore</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GBVAH53736</string>
				<key>name</key>
				<string>Property Upkeep Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>0.8</string>
		</dict>
	</array>
</dict>
</plist>
